body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#chat-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.assistant-message {
  background-color: #e6e6e6;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.user-message {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  overflow: hidden;
  text-align: right;
}

input[type="file"] {
  display: none;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.user-image {
  max-width: 100%;
  margin-top: 5px;
}

.instruction-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.development-note{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: -90px; 
  bottom: 50px;
}

.development-msg{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 5vh; 
  bottom: -530px;
}


.contact-me {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px; 
  background-color: #f0f0f0; 
}

.contact-me h2 {
  font-size: 17px;
  margin-bottom: 10px;
}

.contact-me p {
  font-size: 12px;
  margin-bottom: 20px;
}

.contact-me ul {
  list-style-type: none;
  padding: 0;
}

.contact-me li {
  font-size: 13px;
  margin-bottom: 10px;
}

.contact-me a {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
}

.contact-me a:hover {
  text-decoration: underline;
}
